django==2.2.4
psycopg2-binary==2.8.1
channels==2.1.7
djangorestframework==3.9.2
drf-yasg==1.15.0
drf-yasg[validation]
django-guardian==1.5.0
django-post_office==3.0.4
django-cors-headers==2.5.2
eventbrite==3.3.3
django-redis==4.10.0
channels_redis==2.3.3
sentry-sdk==0.7.10
django-filter==2.1.0
daphne==2.3.0
asgiref==3.0
